<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.hibernate.orm.cache" level="ERROR"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="liquibase.changelog.ChangeSet" level="INFO"/>
    <logger name="liquibase.integration.spring" level="ERROR"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.springframework.beans" level="WARN"/>
    <logger name="org.springframework.context" level="WARN"/>
    <logger name="org.springframework.data.repository" level="WARN"/>
    <logger name="org.springframework.jmx" level="WARN"/>
    <logger name="org.springframework.orm.jpa" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
