<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%-5level) %class: %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.hibernate.orm" level="ERROR"/>
    <logger name="liquibase.changelog.ChangeSet" level="INFO"/>
    <logger name="liquibase.integration.spring" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
